---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Mariana Carmona | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  <p>I am an expert in Data Science with a solid background in Physics, Mathematics, and Advanced Technology, 
  specialized in transforming complex data sets into valuable information for strategic decision-making.
    <br>
    <br>
  My experience encompasses advanced data analysis, mathematical modeling, and the implementation of analytical solutions to optimize processes and improve operational efficiency. 
  While my primary focus is on data science, I also have a foundation in programming, which enables me to effectively collaborate in multidisciplinary technological environments.
    <br>
    <br>
  My ability to interpret and communicate complex data is key in supporting decision-making, driving growth, and contributing to the success of business objectives. 
  I am committed to continuous improvement and innovation, using an analytical approach to solve problems and discover opportunities in a data-driven world.
  </p>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Scientist"
      subtitle="From 2019 at AVEN, CDMX, México"
      desc="1) Automation of Quality Processes: Implementation of Python scripts for image processing and statistical analysis related to the quality of manufactured parts. 2) Supplier Evaluation: Analyzing supplier performance data to assess their quality and reliability. 3) KPI Monitoring and Analysis: Implementing and monitoring KPIs to evaluate progress toward quality objectives, using data analysis to identify deviations and plan corrective actions. 4) Dashboard Development: Creating and maintaining interactive dashboards for sales, production, and quality departments, providing real-time information for informed decision-making. 5) Record and Document Management: Overseeing and updating the control of records and documents, ensuring the integrity and availability of information. 6) Audit Leadership: Lead auditor responsible for compliance with internal and external audits related to ISO 9001:2015 standards."
      />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's in Finance, Financial Mathematics"
      subtitle="2022 to 2025 at Universidad Anáhuac Mexico Norte, CDMX, México"
    />
    <TimeLineElement
      title="Postgraduate in Big Data, Data Processing and Data Processing Technology"
      subtitle="2023 to 2024 at IEBS Biztech School"
    />
    <TimeLineElement
      title="Master's in Advanced Technology"
      subtitle="2019 to 2021 at Instituto Politécnico Nacional, CDMX, México"
    />
    <TimeLineElement
      title="Social Service, Applied Mathematics, Mathematical Principles for Exact Sciences"
      subtitle="2017 to 2018 at Centro de Investigación y de Estudios Avanzados del IPN, CDMX, México"
    />
    <TimeLineElement
      title="Bachelor's in Physics and Mathematics, Theoretical Physics and Mathematics"
      subtitle="2013 to 2017 at Instituto Politécnico Nacional, CDMX, México"
    />
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">DP-900T00-A: Microsoft Azure Data Fundamentals</a>
    </li>
    <li>
      <a href="https://www.credential.net/816a9f46-8c47-4da8-972c-6224a8dde162" target="_blank">Bootcamp en Análisis de datos</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (Advanced)</li>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Hadoop</li>
    <li>Spark</li>
    <li>Power BI</li>
  </ul>
</BaseLayout>
