---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Mariana Carmona | CV">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  <p>I am an expert in Data Science with a solid background in Physics, Mathematics, and Advanced Technology, 
  specialized in transforming complex data sets into valuable information for strategic decision-making.
    <br>
    <br>
  My experience encompasses advanced data analysis, mathematical modeling, and the implementation of analytical solutions to optimize processes and improve operational efficiency. 
  While my primary focus is on data science, I also have a foundation in programming, which enables me to effectively collaborate in multidisciplinary technological environments.
    <br>
    <br>
  My ability to interpret and communicate complex data is key in supporting decision-making, driving growth, and contributing to the success of business objectives. 
  I am committed to continuous improvement and innovation, using an analytical approach to solve problems and discover opportunities in a data-driven world.
  </p>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UI Designer and Developer at Integral Access Control System (Thesis)"
      subtitle="From 2015 at XETID, Habana, Cuba"
      desc="System multiplatform that includes the steps of a company's personnel, the structure and composition thereof, as well as a powerful designer of credentials and module of control of access. Outspread at the MINFAR and another entities of the country. Technologies: C++, Qt Framework, Subversión, Visual Paradigm, PostgreSQL, Jmeter"
    />
    <TimeLineElement
      title="Web Developer at Integral Oil Drilling System 2.0"
      subtitle="From 2015 to 2016 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.7 , Subversión, PostgreSQL, HigthChart, Ireport, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Full Stack Dev, Software Architect and Project Leader at Integral Oil Drilling System 3.0"
      subtitle="From 2016 to 2017 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of process of perforation of oil wells. Outspread in the direction of Intervención of Wells and various wells of drilling of the Occident of the country. Generate reports and graphs of process of perforation making use of data mining. Technologies: Php,Symfony 2.8 , Gitlab, PostgreSQL, HigthChart, Boostrap 2, JQuery, HTML,CSS, JavaScript"
    />
    <TimeLineElement
      title="Full Stack Dev, UI/UX Designer and Software Architect at Primary Information System"
      subtitle="From 2017 to 2018 at CEDIN, UCI, Habana, Cuba"
      desc="System of steps of primary information at a company. personnel's steps, control of access, impression of credentials, steps of locales, structure and composition. Technologies: Php,Symfony 3.3 , Gitlab, PostgreSQL, , Boostrap 3, JQuery, HTML,CSS, JavaScript"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master's in Finance, Financial Mathematics"
      subtitle="2022 to 2025 at Universidad Anáhuac Mexico Norte, CDMX, México"
    />
    <TimeLineElement
      title="Postgraduate in Big Data, Data Processing and Data Processing Technology"
      subtitle="2023 to 2024 at IEBS Biztech School"
    />
    <TimeLineElement
      title="Master's in Advanced Technology"
      subtitle="2019 to 2021 at Instituto Politécnico Nacional, CDMX, México"
    />
    <TimeLineElement
      title="Social Service, Applied Mathematics, Mathematical Principles for Exact Sciences"
      subtitle="2017 to 2018 at Centro de Investigación y de Estudios Avanzados del IPN, CDMX, México"
    />
    <TimeLineElement
      title="Bachelor's in Physics and Mathematics, Theoretical Physics and Mathematics"
      subtitle="2013 to 2017 at Instituto Politécnico Nacional, CDMX, México"
    />
  </div>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank"> EF SET English Certificate 74/100 (C2 Proficient)</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (Advanced)</li>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Java</li>
    <li>Spring Boot</li>
    <li>Hadoop</li>
    <li>Spark</li>
    <li>Power BI</li>
  </ul>
</BaseLayout>
