---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Mariana Carmona</div>
    <div class="text-3xl py-3 font-bold">Data Scientist</div>
    <div class="py-2">
      <text class="text-lg">
        Data Science professional with a solid foundation in Physics and Mathematics, 
        specialized in data analysis and mathematical modeling for strategic decision-making. 
        With programming skills and a focus on process improvement and operational efficiency, 
        I bring an analytical approach to drive growth and business success in multidisciplinary technological environments.
        </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-outline ml-5" href="https://www.linkedin.com/in/mariana-dwarka" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Analysis using Spark"
    img="/projects/sparknotebook.png"
    desc="Data analysis of a satisfaction survey using RDD and PySpark"
    url="https://github.com/MarianaDwarka/Spark"
    badge="Spark"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
  title="FlexiTools Web Page"
  img="/projects/flexitools.png"
  desc="Static web page developed in HTML, CSS, and some JavaScript"
  url="https://marianadwarka.github.io/FlexiTools-Presentacion/"
  badge="HTML, CSS, JavaScript "
/>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Time Series Projects"
    img="/blogImages/arima_projects.png"
    desc="Application of SARIMA, Prophet, and LSTM models in time series for a temporal sample of the monthly number of passengers (air passengers) (Project 1) and the quantity of products and subtotals in a retail store (Project 2)."
    url="https://marianadwarka.github.io/blog/time-series-projects/"
    badge="Python"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Java API Project"
    img="/blogImages/rest-api.png"
    desc="The current project is based on the design and implementation of an API using the Spring Boot framework for a growing store. Through a layered software architecture, the API provides a modular structure that separates the system's responsibilities into different logical layers."
    url=https://marianadwarka.github.io/blog/java-api/
    badge="Java, Spring Boot"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
